html,
body {
	margin: 0;
	padding: 0;
}

.entry-content {
	width: calc(100% - 200px);
}
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.toc-list {
	display: block;
	position: relative;
	width: 200px;
	right: 0;
	/*   background:gray; */
}
.toc-list .lv-1 {
	width: 200px;
	height: auto;
	position: absolute;
	right: 0;
	/*   background:green; */
}
.toc-list .lv-1::before {
	content: '';
	width: 2px;
	height: 100%;
	border-left: 2px solid #eee;
	position: absolute;
	z-index: -1;
}

.toc-item {
	display: block;
	width: 100%;
	text-decoration: none;
	font-weight: normal;
	font-size: 0.875em;
	line-height: 1.2;
	padding-left: 1.875em;
	border-left: 2px solid #eee;
	cursor: pointer;
	color: #333;
	border-left: 2px solid transparent;
}

.lv-1 .toc-item {
	font-weight: bold;
	margin-top: 0.875em;
}
.lv-1 li:first-child .toc-item {
	margin-top: 0;
}
.lv-2 .toc-item {
	font-weight: normal;
}
.lv-3 .toc-item {
	font-weight: normal;
	padding-left: 2.5em;
}
.lv-4 .toc-item {
	padding-left: 3em;
}

.on {
	color: red;
	border-color: #72afcf;
}

.on,
.toc-common:hover {
	color: #72afcf;
}

.header {
	width: 100%;
	height: 40px;
	background: green;
	position: fixed;
	top: 0;
	z-index: 999;
}
.entry-wrap {
	display: flex;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.fixed {
	position: fixed;
}
#toc-link-0 {
	height: 200px;
}
@media (max-width: 1000px) {
	#toc-link-0 {
		height: 400px;
	}
}
